# Общие настройки
# CSV список IP-адресов, которым разрешён доступ к SOCKS порту (nftables allowlist)
ALLOWED_IPS="147.45.143.194"

# Shadowsocks (SOCKS)
SS_SERVER_PORT=6666
SS_PASSWORD="changeMeStrongPassword"
SS_METHOD="chacha20-ietf-poly1305"
SS_TIMEOUT=86400

# tun2socks
TUN2SOCKS_IFACE="eth0"
TUN2SOCKS_TUN_DEV="tun0"
TUN2SOCKS_TUN_ADDR="192.168.0.33/24"

# Upstream SS server for tun2socks (обычно EU сервер)
TUN_SSIP="44.221.188.49"
TUN_SSPORT=6666
TUN_SSPASSWORD="changeMeStrongPassword"
TUN_SSMETHOD="chacha20-ietf-poly1305"
