# server2 (зарубежный/EU сервер)
# Используется скриптом: ../socks_second_server.sh

# Разрешаем подключение к Shadowsocks ТОЛЬКО с IP разрешённого (RU) сервера.
# Пример с несколькими IP (если нужно добавить ещё один RU сервер):
ALLOWED_IPS="72.56.233.174,95.140.159.63"

# Порт, на котором Shadowsocks будет слушать (TCP+UDP)
SS_SERVER_PORT=6666

# Пароль Shadowsocks (должен совпадать с TUN_SSPASSWORD на server1)
SS_PASSWORD="testPassword"

# Метод шифрования (должен совпадать с TUN_SSMETHOD на server1)
SS_METHOD="chacha20-ietf-poly1305"

# Таймаут (сек)
SS_TIMEOUT=86400
